Convolutional[[:space:]]Neural[[:space:]]Networks/Week[[:space:]]1/Convolution+model+-+Application+-+v1.ipynb filter=lfs diff=lfs merge=lfs -text
Convolutional[[:space:]]Neural[[:space:]]Networks/Week[[:space:]]1/Convolution+model+-+Step+by+Step+-+v2.ipynb filter=lfs diff=lfs merge=lfs -text
Improving[[:space:]]Deep[[:space:]]Neural[[:space:]]Networks[[:space:]]Hyperparameter[[:space:]]tuning,[[:space:]]Regularization[[:space:]]and[[:space:]]Optimization/Week[[:space:]]6/Optimization+methods.ipynb filter=lfs diff=lfs merge=lfs -text
Improving[[:space:]]Deep[[:space:]]Neural[[:space:]]Networks[[:space:]]Hyperparameter[[:space:]]tuning,[[:space:]]Regularization[[:space:]]and[[:space:]]Optimization/Week[[:space:]]7/Tensorflow+Tutorial.ipynb filter=lfs diff=lfs merge=lfs -text
Sequence[[:space:]]Models/Week[[:space:]]2/Emojify/Emojify+-+v2.ipynb filter=lfs diff=lfs merge=lfs -text
Sequence[[:space:]]Models/Week[[:space:]]2/Operations[[:space:]]on[[:space:]]word[[:space:]]vectors/Operations+on+word+vectors+-+v2.ipynb filter=lfs diff=lfs merge=lfs -text
Neural[[:space:]]Networks[[:space:]]and[[:space:]]Deep[[:space:]]Learning/Week[[:space:]]3/Planar[[:space:]]data[[:space:]]classification[[:space:]]with[[:space:]]one[[:space:]]hidden[[:space:]]layer/Planar+data+classification+with+one+hidden+layer+v4.ipynb filter=lfs diff=lfs merge=lfs -text
Neural[[:space:]]Networks[[:space:]]and[[:space:]]Deep[[:space:]]Learning/Week[[:space:]]4/Building[[:space:]]your[[:space:]]Deep[[:space:]]Neural[[:space:]]Network[[:space:]]-[[:space:]]Step[[:space:]]by[[:space:]]Step/Building+your+Deep+Neural+Network+-+Step+by+Step+v5.ipynb filter=lfs diff=lfs merge=lfs -text
Improving[[:space:]]Deep[[:space:]]Neural[[:space:]]Networks[[:space:]]Hyperparameter[[:space:]]tuning,[[:space:]]Regularization[[:space:]]and[[:space:]]Optimization/Week[[:space:]]5/Gradient[[:space:]]Checking/Gradient+Checking+v1.ipynb filter=lfs diff=lfs merge=lfs -text
Improving[[:space:]]Deep[[:space:]]Neural[[:space:]]Networks[[:space:]]Hyperparameter[[:space:]]tuning,[[:space:]]Regularization[[:space:]]and[[:space:]]Optimization/Week[[:space:]]5/Initialization/Initialization.ipynb filter=lfs diff=lfs merge=lfs -text
Convolutional[[:space:]]Neural[[:space:]]Networks/Week[[:space:]]2/KerasTutorial/Keras+-+Tutorial+-+Happy+House+v2.ipynb filter=lfs diff=lfs merge=lfs -text
Convolutional[[:space:]]Neural[[:space:]]Networks/Week[[:space:]]4/Face[[:space:]]Recognition/Face+Recognition+for+the+Happy+House+-+v3.ipynb filter=lfs diff=lfs merge=lfs -text
Neural[[:space:]]Networks[[:space:]]and[[:space:]]Deep[[:space:]]Learning/Week[[:space:]]2/Logistic[[:space:]]Regression[[:space:]]as[[:space:]]a[[:space:]]Neural[[:space:]]Network/Logistic+Regression+with+a+Neural+Network+mindset+v4.ipynb filter=lfs diff=lfs merge=lfs -text
Sequence[[:space:]]Models/Week[[:space:]]1/Jazz[[:space:]]improvisation[[:space:]]with[[:space:]]LSTM/Improvise+a+Jazz+Solo+with+an+LSTM+Network+-+v1.ipynb filter=lfs diff=lfs merge=lfs -text
Sequence[[:space:]]Models/Week[[:space:]]3/Neural[[:space:]]Machine[[:space:]]Translation[[:space:]]with[[:space:]]Attention/Neural+machine+translation+with+attention+-+v3.ipynb filter=lfs diff=lfs merge=lfs -text
Convolutional[[:space:]]Neural[[:space:]]Networks/Week[[:space:]]4/Neural[[:space:]]Style[[:space:]]Transfer/Art+Generation+with+Neural+Style+Transfer+-+v2.ipynb filter=lfs diff=lfs merge=lfs -text
Improving[[:space:]]Deep[[:space:]]Neural[[:space:]]Networks[[:space:]]Hyperparameter[[:space:]]tuning,[[:space:]]Regularization[[:space:]]and[[:space:]]Optimization/Week[[:space:]]5/Regularization/Regularization.ipynb filter=lfs diff=lfs merge=lfs -text
Neural[[:space:]]Networks[[:space:]]and[[:space:]]Deep[[:space:]]Learning/Week[[:space:]]2/Python[[:space:]]Basics[[:space:]]with[[:space:]]Numpy/Python+Basics+With+Numpy+v3.ipynb filter=lfs diff=lfs merge=lfs -text
Neural[[:space:]]Networks[[:space:]]and[[:space:]]Deep[[:space:]]Learning/Week[[:space:]]4/Deep[[:space:]]Neural[[:space:]]Network[[:space:]]Application[[:space:]]Image[[:space:]]Classification/Deep+Neural+Network+-+Application+v3.ipynb filter=lfs diff=lfs merge=lfs -text
Sequence[[:space:]]Models/Week[[:space:]]1/Building[[:space:]]a[[:space:]]recurrent[[:space:]]neural[[:space:]]network[[:space:]]-[[:space:]]step[[:space:]]by[[:space:]]step/Building+a+Recurrent+Neural+Network+-+Step+by+Step+-+v2.ipynb filter=lfs diff=lfs merge=lfs -text
Sequence[[:space:]]Models/Week[[:space:]]1/Dinosaur[[:space:]]Island[[:space:]]-[[:space:]]Character-Level[[:space:]]Language[[:space:]]Modeling/Dinosaurus+Island+--+Character+level+language+model+final+-+v3.ipynb filter=lfs diff=lfs merge=lfs -text
Sequence[[:space:]]Models/Week[[:space:]]3/Trigger[[:space:]]word[[:space:]]detection/Trigger+word+detection+-+v1.ipynb filter=lfs diff=lfs merge=lfs -text
Convolutional[[:space:]]Neural[[:space:]]Networks/Week[[:space:]]2/ResNets/Residual+Networks+-+v2.ipynb filter=lfs diff=lfs merge=lfs -text
Convolutional[[:space:]]Neural[[:space:]]Networks/Week[[:space:]]3/Car[[:space:]]detection[[:space:]]for[[:space:]]Autonomous[[:space:]]Driving/Autonomous+driving+application+-+Car+detection+-+v1.ipynb filter=lfs diff=lfs merge=lfs -text
